/AngularWIP/HTML5Application/nbproject/private/
/HTML5Application/nbproject/private/
/MayfiedISWebApplication/node_modules/
/MayfiedISWebApplication/app/bower_components/
/MayfiedISWebApplication/nbproject/private/
/mayfieldISWeb/nbproject/private/
/Chapter 6/nbproject/private/