<div class="row">
    <div class="col-md-7">
        <ng-map center="[53.7993, -1.4284]" zoom="13"></ng-map>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-custom" style="background-color: #99ceef;color: white">
                <span class="glyphicon glyphicon-envelope"></span>
                Contact Details
            </div>
            <div class="panel-body">
                <table>
                    <tr><td>Tel: 0113 328 0702</td></tr>
                    <tr><td>Tel: 0771 888 1774</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>kevin.mayfield@mayfield-is.co.uk</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>Ada Glassby Court</td></tr>
                    <tr><td>Cross Gates</td></tr>
                    <tr><td>Leeds</td></tr>
                    <tr><td>LS15 8FR</td></tr>
                </table>
   
            </div>
            <table>
                <tr><td>&nbsp;</td>
                <td>
            <div id="share-buttons">
                <!-- Email -->
                <table>
                <a href="mailto:kevin.mayfield@mayfield-is.co.uk">
                    <img src="images/email.png" alt="Email" height="21" width="21" />
                </a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/in/kevin-mayfield-26639716" target="_blank">
                    <img src="images/linkedin.png" alt="LinkedIn" height="21" width="21" />
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/kevingmayfield" target="_blank">
                    <img src="images/twitter.png" alt="Twitter" height="21" width="21" />
                </a>
            </div>
                        </td><td>&nbsp;</td></tr>
                                 </table>

        </div>
    </div>
    
</div>


