<div class="row">
    <div class="col-md-3">
       <div class="panel panel-info">
            <div class="panel-heading panel-heading-custom" style="background-color: #99ceef;color: white">
                <span class="glyphicon glyphicon-paperclip"></span>
                NHS - Enterprise Integration
            </div>
           <div class="panel-body">
               <p>OAuth2 to provide security for API's in a NHS (England) trust. 
               <a href="http://www.slideshare.net/KevinMayfield/hl7-fhir-plus-oauth2-in-a-nhs-trust">Enterprise Security using OAuth2 (HL7 FHIR Developer days in Amsterdam 2015)</a>
               </p>
               <p>FHIR as the standard data model or data interchange format in a NHS (Scotland) Board.
               <a href="http://www.slideshare.net/KevinMayfield/fhir-canonical-datamodel1v0">FHIR - Canonical Data model (HL7 UK London 2014)</a>
               </p>     
           </div>
       </div>
    </div>
    <div class="col-md-9">
        <iframe ng-src="{{trustSrc(movie.src)}}" width="560" height="349" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

