<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    	<rewrite>
    		<rules>
    			<rule name="Redirect to WWW" stopProcessing="true">
    				<match url=".*" />
    				<conditions>
    					<add input="{HTTP_HOST}" pattern="^mayfield-is.co.uk$" />
    				</conditions>
    				<action type="Redirect" url="http://www.mayfield-is.co.uk/{R:0}" redirectType="Permanent" />
    			</rule>
    		</rules>
    	</rewrite>
        <defaultDocument>
            <files>
                <remove value="Default.aspx" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
