<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:property-placeholder location="classpath:FHIROAuth2.properties"/>
	
   <mongo:mongo id="mongo" host="${mongodb.host}" port="${mongodb.port}" />

    <mongo:db-factory id="mongoDbFactory" 
    				host="${mongodb.host}"
    				port="${mongodb.port}"
    				dbname="${mongodb.dbname}"
    				username="${mongodb.dbname}"
    				password="${mongodb.password}"
    				mongo-ref="mongo"
    				/>
    	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory"/>
	</bean>
	 
	<bean id="mongoUserDetailsService" class="org.jorvik.security.MongoDBAuthenticationProvider">
	</bean>

</beans>
